In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('C:/Users/hp/Desktop/datascience/csv filesSalaries.csv')
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
df.shape

(148654, 13)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [7]:
#object means string 
#1.what is the average BasePay?
df['BasePay'].mean()

66325.44884050643

In [8]:
#what is the highest amount of Overtime pay in the dataset?
df['OvertimePay'].max()

245131.88

In [10]:
#what is job title of JOSEPH DRISCOLL??
df[df['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [11]:
#how much does JOSEPH DRISCOLL makes including benefits?
df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [12]:
#whats is the name of highest paid person including benefits?
df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [13]:
#second method
df['TotalPayBenefits'].argmax()

0

In [14]:
df.iloc[df['TotalPayBenefits'].argmax()]['EmployeeName']

'NATHANIEL FORD'

In [15]:
#whats is the name of lowest paid person including benefits?
df[df['TotalPayBenefits']==df['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [16]:
#second method
df['TotalPayBenefits'].argmin()

148653

In [17]:
df.iloc[df['TotalPayBenefits'].argmin()]['EmployeeName']

'Joe Lopez'

In [18]:
#what is the average basepay of all employees per year?
df.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [19]:
#how many unique job titles are there?
df['JobTitle'].nunique()

2159

In [20]:
#what are the top 5 most comman jobs?
df['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [21]:
#how many job titles are represented by only one person in 2013?
df['JobTitle'].value_counts()

Transit Operator                     7036
Special Nurse                        4389
Registered Nurse                     3736
Public Svc Aide-Public Works         2518
Police Officer 3                     2421
                                     ...
CHIEF HOUSING INSPECTOR                 1
SHERIFF                                 1
ASSISTANT DIRECTOR, JUVENILE HALL       1
SENIOR PSYCHIATRIC ORDERLY              1
SENIOR BOOK REPAIRER                    1
Name: JobTitle, Length: 2159, dtype: int64

In [22]:
df[df['Year']==2013]['JobTitle'].value_counts()==1

Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Custodian                         False
                                  ...
Crime Lab Mgr                      True
Director, Fiscal Services          True
Media Production Specialist        True
Assistant Power House Operator     True
Disability Access Coordinator      True
Name: JobTitle, Length: 1051, dtype: bool

In [23]:
sum(df[df['Year']==2013]['JobTitle'].value_counts()==1)

202

In [24]:
#how many peoples have the word "chief" in their JobTile?
def chief_string(title):
    if "chief" in title.lower().split():
        return True
    else:
        return False

In [25]:
df['JobTitle'].apply(chief_string)

0         False
1         False
2         False
3         False
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [26]:
sum(df['JobTitle'].apply(chief_string))

477

In [35]:
#is there any relationship btn length of job title and salary?
df['jobtitle_length']=df['JobTitle'].apply(len)

In [36]:
df['jobtitle_length'].head()

0    46
1    31
2    31
3    36
4    44
Name: jobtitle_length, dtype: int64

In [37]:
df[['jobtitle_length','TotalPayBenefits']].corr()

                  jobtitle_length  TotalPayBenefits
jobtitle_length          1.000000         -0.036878
TotalPayBenefits        -0.036878          1.000000